@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Journal</h1>
    <img class="d-block w-100" src="~/image/jesus_sermon_mount.jpeg" alt="sermon on the mount image" height="600" />
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item carousel-item active">
            <img class="d-block w-100 img-fluid rounded" src="/image/BofM.png" height="500" alt="Boof of Mormon">
        </div>
        <div class="item carousel-item">
            <img class="d-block w-50 img-fluid rounded" src="/image/DandC.png" height="500" alt="Doctrine and Covenant">
        </div>
        <div class="item carousel-item">
            <img class="d-block w-50 img-fluid rounded" src="/image/old-T.png" height="500" alt="Old Testament">
        </div>
        <div class="item carousel-item">
            <img class="d-block w-50 img-fluid rounded" src="/image/PofGP.png" height="500" alt="Pearl of Great Price">
        </div>
        <div class="item carousel-item">
            <img class="d-block w-50 img-fluid rounded" src="/image/christ_anderson_jesus_christ_savior.jpeg" alt="Jesus the Christ" height="500">
        </div>
        <div class="item carousel-item">
            <img class="d-block w-50 img-fluid rounded" src="/image/jesus_woman_samaritan_well.jpeg" alt="Jesus with the Samaritan woman" height="500">
        </div>
        <div class="item carousel-item">
            <img class="d-block w-50 img-fluid rounded" src="/image/jesus_knocking_at_the_door.jpeg" alt="Jusus knocking at the door" height="500">

        </div>
     </div>
    </div>